@import 'tailwindcss';
@import 'remixicon/fonts/remixicon.css';
:root {
  --background: #222528;
  --foreground: #ededed;
}

* {
  font-family: 'SF Pro Display', 'sans-serif';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary1: #f4ccc8;
  --color-primary2: #eba59e;
  --color-primary3: #e27d73;
  --color-primary4: #da584b;
  --color-secondary1: #c8e1bc;
  --color-secondary2: #aad199;
  --color-secondary3: #8dc275;
  --color-secondary4: #70b252;
  --color-tertiary1: #f9eed7;
  --color-tertiary2: #f2daab;
  --color-tertiary3: #ebc77f;
  --color-tertiary4: #e5b454;
  --color-neutral1: #ffffff;
  --color-neutral2: #94979a;
  --color-neutral3: #393d41;
  --color-neutral4: #2c2f33;
  --color-neutral5: #222528;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222528;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
